<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cyber Voting</title>
		<link type="text/css" rel="stylesheet" href="./main.css" />
	</head>

	<body>
		<header id="header">
			<h1><a href="/index.html">Cyber Voting</a></h1><span>Start winning now!</span>
		</header>

		<nav>
			{% if session %}
			<div id="logout">
				<span>Welcome, {{ session[2] }}!</span>
				<a href="/create.html"{% if current == "create" %} class="currentPage"{% endif %}>Create Vote</a>
				<form action="/logout.html" method="post">
					<input type="submit" value="Logout">
				</form>
			</div>
			{% else %}
			<div id="login">
				<a href="/login.html"{% if current == "login" %} class="currentPage"{% endif %}>Login</a>
				<a href="/register.html"{% if current == "reg" %} class="currentPage"{% endif %}>Register</a>
			</div>
			{% endif %}
		</nav>

		<section id="content">
			{% block content %}{% endblock %}
		</section>
	</body>
</html>
