{% extends "base.html" %}
{% block content %}
<h2><a href="/index.html" class="title-link">Index / 50 Latest Votes</a></h2>
{% for poll in polls %}
<div class="vote">
	<h3><a href="/vote.html?v={{ poll[0] }}" class="title-link">{{ poll[1] }}</a></h3>
	<hr>
	<div class="vote-single">
		<div class="vote-bar">
			{% if poll[3] > 0 %}
			<div class="vote-bar-yes">Yes: {{ poll[2] }}</div><div class="vote-bar-no">No: {{ poll[3] - poll[2] }}</div>
			{% else %}
			<div class="vote-bar-yes">Yes: 0</div><div class="vote-bar-no">No: 0</div>
			{% endif %}
		</div>
		{% if session %}
			{% if votedYes.get(poll[0], None) is none %}
			<form action="/vote.html?v={{ poll[0] }}" method="post">
				<input type="hidden" value="Yes" name="vote">
				<input type="submit" value="Yes" class="vote-button vote-yes">
			</form>
			<form action="/vote.html?v={{ poll[0] }}" method="post">
				<input type="hidden" value="No" name="vote">
				<input type="submit" value="No" class="vote-button vote-no">
			</form>
			{% elif votedYes[poll[0]] %}
			<div class="voted-yes">You voted: Yes</div>
			{% else %}
			<div class="voted-no">You voted: No</div>
			{% endif %}
		{% else %}
			<div class="voted-none"><a href="/login.html" class="link">Login</a> or <a href="/register.html" class="link">Register</a> to start voting.</div>
		{% endif %}
	</div>
</div>
{% endfor %}
{% endblock %}
