{% extends "base.html" %}
{% block content %}
<article>
	<h2><a href="/login.html" class="title-link">Login</a></h2>
	{% if msg %}<p class="msg">{{ msg }}</p>{% endif %}
	<form action="/login.html" method="post" class="login-form">
		<label for="user">Username</label><input type="text" name="user" required minlength="4" maxlength="32"{% if user %} value="{{ user }}"{% endif %}>
		<label for="password">Passwort</label><input type="password" name="password" required minlength="4" maxlength="64">
		<input type="submit" value="Login">
	</form>
</article>
{% endblock %}
