<div class="about-main-container" fxLayout="row" fxLayoutAlign="space-between stretch" >
  <div class="text">
    <h3>What do we do?</h3>
    <p>Our goal at Luov is to bring you the best resort dating experience you ever had. No matter if you are looking for a significant other, an adventurous night or just someone to share a Pina Colada with at the pool. We got you covered! Our resort community consists of a 100% real guests looking for something special in there vacation. Of cause Luove comes free of charge and will stay to your disposal even after you return to your mundane every day life. </p>
  </div>
  <div class="text">
    <h3>Who are we?</h3>
    <p>We are a bunch of bored Computer Science students trying to make this resort a better place. Have you ever wondered "What am I doing here and why am I reading this Text" ? Well no more, now you know the real motivation behind building a successful business.</p>
    <h4>Join Luov Today!</h4>
  </div>
</div>
